<div class="full-container">
  <div class="half-container">
    <div class="provider-name-div">
      <h1><%= @provider.name %></h1>
      <p><strong>Total Patients To Date: <%= @provider.users_count %></strong></p>
    </div>

    <div class="bar-graph">
    <p class="chart-title"><strong>New User Count By Month</strong></p>
     <%= column_chart @users.group_by_month(:created_at).count %>
    </div>
  
    <div class="bar-graph">
    <p class="chart-title"><strong>Starting Pain Scores</strong></p>
    <%= column_chart @starting_pain_score_counts %>
    </div>
  </div>

  <div class="half-container">
    
    <div class="bar-graph">
    <p class="chart-title"><strong>Cumulative User Count</strong></p>
    <%= line_chart @cumulative_user_count %>
    </div>
    <p><strong>pain score improvement: </strong></p>
    <p><strong>logins per month: </strong></p>
    <p><strong>reimbursment running total: </strong></p>
  </div>
</div>