<div class="full-container">
  <% if @provider %>
    <div class="provider-name-div">
      <h1><%= @provider.name %></h1>
        <div class="provider-stats">
          <p class="black"><strong>as of:</strong></p>
          <h5 class="blue"><strong><%= @current_date %></strong></h5>
          </div>
          <div class="provider-stats">
          <p class="black"><strong>Total Patients to Date:</strong></p>
          <h5 class="blue"><strong><%= @provider.users_count %></strong></h5>
          </div>
          <div class="provider-stats">
          <p class="black"><strong>Total Patient Reimbursement:</strong></p>
          <h5 class="blue"><strong><%= @total_patient_reimbursement %></strong></h5>
        </div>
    </div>
  <div class="half-container1">
    <div class="bar-graph">
    <p class="chart-title"><strong>New User Count By Month</strong></p>
     <%= column_chart @new_user_count_by_month, height: "200px" %>
    </div>
  <div class="bar-graph">
    <p class="chart-title"><strong>Cumulative User Count</strong></p>
    <%= line_chart @cumulative_user_count, height: "200px"  %>
    </div>
    <div class="two-bar-graphs">
    <div class="bar-graph">
      <p class="chart-title"><strong>Starting Pain Scores</strong></p>
      <%= column_chart @starting_pain_score_counts, height: "200px"  %>
    </div>
    <div class="bar-graph-right">
      <div class="chart-title-with-description">
        <p class="chart-title"><strong>Pain Score Improvement:</strong></p>
        <p class="chart-title">negative change = pain is improving</p>
        <%= bar_chart @pain_score_trends, height: "200px" %>
      </div>
    </div>
    </div>
  </div>

  <div class="half-container2">     
    <div class="bar-graph-right">
      <p class="chart-title"><strong>Logins Per Month</strong></p>
      <%= column_chart @dates_on_app_by_month_count, height: "335px"  %>  
  </div>
   <div class="bar-graph-right">
    <p class="chart-title"><strong>Reimbursment Running total</strong></p>
     <%= column_chart @reimbursement_total, height: "335px"  %>
    </div>
  </div>
  <% end %>
</div>