<div class="full-container">
  <div class="provider-name-div">
      <h1><%= @provider.name %></h1>
        <div class="provider-stats">
          <p class="black"><strong>as of:</strong></p>
          <h5 class="blue"><strong><%= @current_date %></strong></h5>
          </div>
          <div class="provider-stats">
          <p class="black"><strong>Total Patients To Date:</strong></p>
          <h5 class="blue"><strong><%= @provider.users_count || 0 %></strong></h5>
          </div>
          <div class="provider-stats">
          <p class="black"><strong>Total Patient Reimbursement:</strong></p>
          <h5 class="blue"><strong><%= @total_patient_reimbursement %></strong></h5>
        </div>
    </div>
  <div class="list-div-header">
    <h3 style="text-align: center;">Patients</h3>
  </div>
  <div class="list-div">
        <ul aria-labelledby="userList">
          <% @ordered_users.each do |user| %>
            <li>
              <a href="/provider_users_dashboard?user_id=<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a>
            </li>
        <% end %>
      </ul>
  </div>
</div>