<%= form_with(model: daily_pain_score) do |form| %>
  <% if daily_pain_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_pain_score.errors.count, "error") %> prohibited this daily_pain_score from being saved:</h2>

      <ul>
        <% daily_pain_score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :daily_scores %>
    <%= form.text_field :daily_scores %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
