<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @daily_pain_score.user_id %>
</p>

<p>
  <strong>Daily scores:</strong>
  <%= @daily_pain_score.daily_scores %>
</p>

<%= link_to 'Edit', edit_daily_pain_score_path(@daily_pain_score) %> |
<%= link_to 'Back', daily_pain_scores_path %>
